@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url("fonts/Montserrat.otf");
}
@font-face {
  font-family: Merriweather;
  src: url("fonts/Merriweather Light.ttf");
}
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}
html body {
  margin: 0;
  padding: 0;
}
html body nav {
  width: 100%;
  border-bottom: 1px solid lightgray;
  color: #2e2e2e;
  letter-spacing: 3px;
  font-family: Montserrat;
}
html body nav .logo {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  padding: 16px 20px;
  color: black;
}
html body nav .logo:hover {
  background-color: #e3eaef;
  color: #2c6193;
}
html body nav .toggleButton {
  color: black;
  margin: 0;
  padding: 0;
  display: inline-block;
  border: none;
  background-color: white;
  display: none;
}
html body nav .toggleButton i {
  display: inline-block;
  padding: 10px 15px;
  font-size: 28px;
  margin: 0;
}
html body nav .toggleButton:focus {
  outline: none;
}
html body nav .collapsible {
  font-size: 12px;
  float: right;
  z-index: 1;
}
html body nav .collapsible a {
  display: block;
  float: right;
  padding: 19px 13px;
  text-decoration: none;
  color: black;
  background-color: white;
  margin: 0;
  z-index: 1;
}
html body nav .collapsible a:hover {
  background-color: #e3eaef;
  color: #2c6193;
}
html body header {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  background-color: #f5f8fa;
  height: 300px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
html body header .avatar {
  position: relative;
  top: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 120px;
  padding: 8px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 50%;
}
html body header .avatar:hover {
  cursor: pointer;
  border: 1px solid grey;
}
html body header .name {
  position: relative;
  top: 5px;
  color: #3a4145;
  font-size: 45px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: open sans, sans-serif;
}
html body header .name:hover {
  cursor: pointer;
  color: #007199;
}
html body header h2 {
  color: #0096cc;
  font-weight: lighter;
  position: relative;
  font-size: 25px;
  top: -10px;
  font-family: Merriweather, serif;
}
html body header h2:hover {
  cursor: pointer;
  color: #007199;
}
html body main {
  width: auto;
  max-width: 650px;
  display: block;
  min-height: 350px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.75em;
  padding-bottom: 15px;
}
html body main .left-col {
  position: relative;
  width: 75%;
  float: left;
  color: #2e2e2e;
  font-family: Merriweather, serif;
  font-size: 16px;
  padding: 30px 30px 30px 0;
}
html body main .left-col h3 {
  font-family: open sans, sans-serif;
  font-size: 25px;
}
html body main .left-col .important {
  color: #0096cc;
}
html body main .right-col {
  position: relative;
  width: 25%;
  padding: 30px 13px;
  font-size: 15px;
  float: right;
  color: black;
}
html body main .right-col h3 {
  font-family: open sans, sans-serif;
  color: #2e2e2e;
  font-size: 25px;
  padding: 0 10px;
}
html body main .right-col ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
html body main .right-col ul li {
  padding: 0 10px;
  margin: 0;
}
html body main .right-col ul li a {
  text-decoration: none;
  color: black;
}
html body main .right-col ul li a i {
  font-size: 30px;
}
html body main .right-col ul li a span {
  padding: 6px;
  font-size: 15px;
  position: relative;
  bottom: 5px;
  font-weight: lighter;
  display: inline-block;
  font-family: Montserrat;
}
html body main .right-col ul li a:hover {
  cursor: pointer;
  color: #0096cc;
}
html body main .right-col ul li:hover {
  cursor: pointer;
  color: #0096cc;
}
html body footer {
  width: 100%;
  position: relative;
  border-top: 1px solid lightgray;
}
html body footer p {
  color: #aaa;
  display: block;
  margin: 0;
  padding: 10px 20px;
  float: left;
}
html body footer ul {
  list-style-type: none;
  padding: 5px 10px;
  margin: 0;
  position: relative;
  display: block;
  float: right;
}
html body footer ul li {
  display: inline-block;
  padding: 5px;
  margin: 0;
  color: #aaa;
}
html body footer ul li a {
  text-decoration: none;
  color: #aaa;
}
html body footer ul li a:hover {
  cursor: pointer;
  color: #0096cc;
}

@media (min-width: 769px) {
  .collapsible {
    display: block !important;
  }
}
@media (max-width: 768px) {
  html body nav {
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-areas: "logo button" "navbar navbar";
  }
  html body nav .logo {
    grid-area: logo;
  }
  html body nav .toggleButton {
    grid-area: button;
    display: inline-block;
  }
  html body nav .collapsible {
    float: none;
    grid-area: navbar;
    display: none;
  }
  html body nav .collapsible a {
    border-top: 1px solid lightgrey;
    display: block;
    float: none;
    width: 100%;
    padding: 20px;
  }
  html body header {
    height: auto;
  }
  html body main {
    padding: 30px;
  }
  html body main .left-col {
    float: none;
    width: 100%;
    padding: 0;
  }
  html body main .right-col {
    padding: 0;
    float: none;
    width: 100%;
  }
  html body main .right-col h3 {
    padding: 0;
  }
  html body main .right-col ul {
    display: grid;
    grid-template-columns: 50% auto;
  }
}

/*# sourceMappingURL=main.css.map */
