@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url("fonts//Montserrat.otf");
}

@font-face {
  font-family: Merriweather;
  src: url("fonts//Merriweather Light.ttf");
}
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  body {
    margin: 0;
    padding: 0;
    nav {
      width: 100%;
      border-bottom: 1px solid lightgray;
      color: #2e2e2e;
      letter-spacing: 3px;
      font-family: Montserrat;
      .logo {
        display: inline-block;
        font-size: 18px;
        text-decoration: none;
        padding: 16px 20px;
        color: black;
        &:hover {
          background-color: #e3eaef;
          color: #2c6193;
        }
      }
      .toggleButton {
        color: black;
        margin: 0;
        padding: 0;
        display: inline-block;
        border: none;
        background-color: white;
        display: none;
        i {
          display: inline-block;
          padding: 10px 15px;
          font-size: 28px;
          margin: 0;
        }
        &:focus {
          outline: none;
        }
      }
      .collapsible {
        font-size: 12px;
        float: right;
        z-index: 1;
        a {
          display: block;
          float: right;
          padding: 19px 13px;
          text-decoration: none;
          color: black;
          background-color: white;
          margin: 0;
          z-index: 1;
          &:hover {
            background-color: #e3eaef;
            color: #2c6193;
          }
        }
      }
    }
    header {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
      display: block;
      background-color: rgb(245, 248, 250);
      height: 300px;
      text-align: center;
      border-bottom: 1px solid lightgray;
      .avatar {
        position: relative;
        top: 30px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: 120px;
        padding: 8px;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 50%;
        &:hover {
          cursor: pointer;
          border: 1px solid grey;
        }
      }
      .name {
        position: relative;
        top: 5px;
        color: #3a4145;
        font-size: 45px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-family: open sans, sans-serif;
        &:hover {
          cursor: pointer;
          color: #007199;
        }
      }
      h2 {
        color: #0096cc;
        font-weight: lighter;
        position: relative;
        font-size: 25px;
        top: -10px;
        font-family: Merriweather, serif;
        &:hover {
          cursor: pointer;
          color: #007199;
        }
      }
    }

    main {
      width: auto;
      max-width: 650px;
      display: block;
      min-height: 350px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.75em;
      padding-bottom: 15px;
      .left-col {
        position: relative;
        width: 75%;
        float: left;
        color: #2e2e2e;
        font-family: Merriweather, serif;
        font-size: 16px;
        padding: 30px 30px 30px 0;
        h3 {
          font-family: open sans, sans-serif;
          font-size: 25px;
        }
        .important {
          color: #0096cc;
        }
      }
      .right-col {
        position: relative;
        width: 25%;
        padding: 30px 13px;
        font-size: 15px;
        float: right;
        color: black;
        h3 {
          font-family: open sans, sans-serif;
          color: #2e2e2e;
          font-size: 25px;
          padding: 0 10px;
        }
        ul {
          list-style-type: none;
          padding: 0px;
          margin: 0px;
          li {
            padding: 0 10px;
            margin: 0;
            a {
              text-decoration: none;
              color: black;
              i {
                font-size: 30px;
              }
              span {
                padding: 6px;
                font-size: 15px;
                position: relative;
                bottom: 5px;
                font-weight: lighter;
                display: inline-block;
                font-family: Montserrat;
              }
              &:hover {
                cursor: pointer;
                color: #0096cc;
              }
            }
            &:hover {
              cursor: pointer;
              color: #0096cc;
            }
          }
        }
      }
    }
    footer {
      width: 100%;
      position: relative;
      border-top: 1px solid lightgray;
      p {
        color: #aaa;
        display: block;
        margin: 0;
        padding: 10px 20px;
        float: left;
      }
      ul {
        list-style-type: none;
        padding: 5px 10px;
        margin: 0;
        position: relative;
        display: block;
        float: right;
        li {
          display: inline-block;
          padding: 5px;
          margin: 0;
          color: #aaa;
          a {
            text-decoration: none;
            color: #aaa;
            &:hover {
              cursor: pointer;
              color: #0096cc;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
   html{
      overflow-x: hidden;
   }
   body {
     overflow-x: hidden;
    nav {
      display: grid;
      grid-template-columns: auto 60px;
      grid-template-areas: "logo button" "navbar navbar";
      .logo {
         grid-area: logo;
      }
      .toggleButton {
         grid-area: button;
        display: inline-block !important;
        i {
        }
      }
      .collapsible {
         float: none;
         grid-area: navbar;
        a {
           border-top: 1px solid lightgrey;
          display: block;
          float: none;
          width: 100%;
          padding: 20px !important;
        }
      }
    }
    header {
       height: auto !important;
      .avatar {
      }
      .name {
      }
      h2 {
      }
    }
    main {
      .left-col {
         float: none;
         width: 100%;
        h3 {
        }
        p {
        }
      }
      .right-col {
         float: none;   
         width: 100px;
        h3 {
        }
        ul {
          li {
            a {
              i {
              }
              span {
              }
            }
          }
        }
      }
    }
    footer {
      p {
      }
      ul {
        li {
          a {
            i {
            }
          }
        }
      }
    }
  }
}
